<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  IgnorableNamespaces="uap uap10 rescap com desktop4 desktop5">

  <Identity
    Name="7ZipExplorerExtension"
    Publisher="CN=7ZipExplorerExtension"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>7-Zip Explorer Extension</DisplayName>
    <PublisherDisplayName>7-Zip Explorer Extension</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop"
                        MinVersion="10.0.19041.0"
                        MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="SevenZipContextMenu"
                 Executable="7ZipMenu.exe"
                 EntryPoint="windows.fullTrustApplication">
      <uap:VisualElements
        DisplayName="7-Zip Explorer Extension"
        Description="7-Zip context menu integration for Windows 11"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png"
        AppListEntry="none" />

      <Extensions>
        <!-- COM Server: hosts the 7ZipMenu.dll -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="7-Zip Context Menu Handler">
              <com:Class
                Id="E45E7D43-4F1C-4B5C-9A8D-6D3B7A9E1C2F"
                Path="7ZipMenu.dll"
                ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>

        <!-- File Explorer Context Menus -->
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="*">
              <desktop5:Verb Id="SevenZipMenu"
                Clsid="E45E7D43-4F1C-4B5C-9A8D-6D3B7A9E1C2F" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb Id="SevenZipMenu"
                Clsid="E45E7D43-4F1C-4B5C-9A8D-6D3B7A9E1C2F" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
